body {
    width: 80%;
    margin: 0 auto ;
    background-color: rgb(238, 255, 0);
    padding: 20px;

background-color: rgb(127, 100, 151);


}
ul { 
    background-color: rgb(86, 159, 177);
    
}
    
ul
 {background-color: color(from color sgb r g b);}

